.idea/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#Images
data/batch_1
data/batch_2
data/batch_3
data/batch_4
data/batch_5
data/batch_6
data/batch_7
data/batch_8
data/batch_9
data/batch_10
data/batch_11
data/batch_12
data/batch_13
data/batch_14
data/batch_15